.sliderRow {
    animation: scrollRow 30s linear infinite;
    animation-play-state: paused;
    width: 4500px;
}

.sliderCol {
    animation: scrollCol 30s linear infinite;
    animation-play-state: paused;
    height: 4500px;
}

.sliderSpeedSlow {
    animation-duration: 60s;
}

.sliderSpeedMedium {
    animation-duration: 30s;
}

.sliderSpeedNormal {
    animation-duration: 20s;
}

.sliderSpeedFast {
    animation-duration: 15s;
}

.sliderAutoPlay {
    animation-play-state: running;
}

@keyframes scrollRow {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(calc(-250px * 9));
    }
}

@keyframes scrollCol {
    0% {
        transform: translateY(0);
    }
    100% {
        transform: translateY(calc(-250px * 9));
    }
}