.btnOutlineDark {
  background: linear-gradient(
    0deg,
    rgba(7, 89, 133, 1) 0%,
    rgba(7, 89, 133, 1) 50%,
    rgba(0, 255, 252, 0) 50%
  );
  background-size: 300% 300%;
  background-position: 0 0;
}

.btnOutlineDark:hover {
  background-position: 0 100%;
}
